<div class="row">
  <div class="columns">
    {{link-to "Create New Category" "admin.categories.new" class="button"}}
    <ul>
      {{#each topLevelCategories as |category|}}
        {{category-children-list category=category}}
      {{/each}}
    </ul>
  </div>
</div>
