{{link-to "Create New Category" "admin.categories.new"}}

<ul>
  {{#each topLevelCategories as |category|}}
    <li>{{category.categoryWithParents}}</li>
    <ul>
      {{#each category.subCategories as |subCategory|}}
        <li>{{subCategory.categoryWithParents}}</li>
      {{/each}}
    </ul>
  {{/each}}
</ul>
