<div class="expanded row">
  <div class="columns">
    {{link-to "Create New Category" "admin.categories.new" class="button"}}
    <table class="hover stack">
      <thead>
        <tr>
          <th>Title</th>
          <th width="100">Action</th>
        </tr>
      </thead>
      <tbody>
        {{#each sortedCategories as |category|}}
          <tr class="category-list-item {{if category.disabled "disabled"}}">
            <td>{{category.categoryWithParents}}</td>
            <td>Edit</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
