<nav class="admin-nav">
  <ul class="admin-nav__list">
    <li>
      {{#link-to "admin.categories" class="admin-nav__link"}}
        <i class="fa fa-folder"></i>
      {{/link-to}}
    </li>
  </ul>
</nav>

<div class="admin-content">
  <nav aria-label="You are here:" role="navigation">
    {{bread-crumbs tagName="ul"  outputStyle="foundation" linkable=true}}
  </nav>
  {{outlet}}
</div>
