<li class="category-list-item {{if category.disabled "disabled"}}">{{category.categoryWithParents}}</li>
{{#if category.subCategories}}
  <ul>
    {{#each category.subCategories as |subCategory|}}
      {{category-children-list category=subCategory}}
    {{/each}}
  </ul>
{{/if}}